.wrapper{
    background-color: #F2F2F2;
    
}
.item{
font-size: 30px;
padding: 10px 10px 10px 10px;
border-radius: 30px;
margin-bottom: 30px;
}
.item a{
    color:#1D1D1F
  }
.item a.active{
    color: #A5A5A5;
}
.MainContent{
    font-size: 9px;
    color: black;
}