.wrapper{
  
    
}
.img{
    max-width: 450px;
    max-height: 300px;
    grid-area: img;
    margin-left: 40px;
}
.info{
    grid-area: info;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    padding: 20px 20px 20px 20px;
    font-size: 30px;
}
.mainContent{
margin-bottom: 50px;

}
.content{
    display: grid;
    grid-template-areas: 
    "img info"
 ; 
 grid-template-rows: auto auto;
 grid-template-columns: 5fr 5fr ;
}